body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, pink, red, purple, blue);
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  header, footer {
    background-color: black;
    padding: 20px;
    font-size: 1.5em;
  }
  
  main {
    margin: 50px auto;
    max-width: 400px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }
  
  #status, #motor-status {
    margin-top: 20px;
    font-size: 1.1em;
  }
  